.date {
    font-size: 10px;
}

.select-container {
    display: flex;
    justify-content: flex-end;
}

.select-wrapper {
    position: relative;
    margin-bottom: -50px;
    width: 300px;
}

.select-style {
    appearance: none;
    border: 2px solid #ccc;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

.select-style:focus {
    outline: none;
    border-color: #66afe9;
}

.select-arrow {
    color: blue;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.contact-now .btn-contact-now {
    position: fixed;
    bottom: 3rem;
    right: 1.625rem;
    box-shadow: 0 1px 20px 1px #1d4aff
}

.contact-now .btn-contact-now:hover {
    box-shadow: none
}