<p class="text-center text-dark bg-info m-0">EROSKETA</p>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="d-flex justify-content-between align-items-center w-100">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item">
                <a [routerLink]="['/home']" class="nav-link btn" style="margin-left: 20px;">
                    <img class="rounded" src="../../assets/img/erosketa.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/all-categories']" class="nav-link btn" style="margin-left: 20px;">TIENDA</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin()">
                <a [routerLink]="['/save-category']" class="nav-link btn" style="margin-left: 30px;">Añadir Categoría
                    (ADMIN)</a>
            </li>
        </ul>
        <ul class="navbar-nav text-right">
            <li class="nav-item dropdown">
                <a class="nav-link btn btn-cart login dropdown-toggle">
                    <img class="cart-icon" src="../../assets/img/perfil.png">
                    <span>{{ user.firstname }}</span>
                </a>
                <div class="dropdown-menu p-2">
                    <a class="dropdown-item btn p-2" [routerLink]="['/profile']">Ver Perfil</a>
                    <a class="dropdown-item btn b1 p-2 mt-2" (click)="logOut()">Cerrar Sesión 
                            <i class="fas fa-power-off m-2"></i></a>
                </div>
            </li>
        </ul>
    </div>
</nav>
