<footer class="text-center text-white pt-4" style="background-color: #0a4175;">
  <div *ngIf="!isLogged()">
    <p class="d-flex justify-content-center align-items-center">
      <span class="me-2">Regístrate gratis</span>
      <button class="btn btn-outline-light btn-rounded">Únete!</button>
    </p>
  </div>
  <p><i class="fas fa-home me-3"></i> Paseo de la Castellana, 102, Madrid</p>
  <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    &copy; 2024 DiveHub. Todos los derechos reservados.
  </div>
</footer>