<div *ngIf="isLogged()"><app-menu-navbar-loggeado /></div>
<div *ngIf="!isLogged()"><app-menu-navbar-sin-loggear /></div>

<div id="video-container">
    <video autoplay loop muted>
        <source src="../../assets/img/pexels-adrien-jacta-6430503.mp4" type="video/mp4">
    </video>
</div>

<div class="mask">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white text-center">
            <h1 class="mb-3">Buceo, snorkel y deportes acuáticos</h1>
            <h4 class="mb-3">Descubre con nosotros los paraísos submarinos</h4>
            <a class="btn btn-outline-light btn-lg mt-4" [routerLink]="['/shop']">Escoge tu aventura</a>
        </div>
    </div>
</div>

<div class="content" style="background-color: white;">
    <div class="container p-2">
        <div class="d-flex m-5" style="background-color: white;">
            <div id="expedicion_barco" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-bs-target="#expedicion_barco" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#expedicion_barco" data-bs-slide-to="1"></li>
                    <li data-bs-target="#expedicion_barco" data-bs-slide-to="2"></li>
                </ol>
                <!-- diapositivas -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/img/expedicion_barco3.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/buceo7.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/expedicion_barco2.jpg">
                    </div>
                </div>
                <!-- botones de desplazamiento a izquierda y derecha -->
                <a class="carousel-control-prev" href="#expedicion_barco" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#expedicion_barco" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <div class="card-body p-5">
                <h4 class="card-title mb-3">Desafiando las Profundidades: Expediciones a Barcos Hundidos</h4>
                <p class="card-text">
                    ¿Qué hay más cautivador que las profundidades del océano, donde yacen los vestigios de épocas
                    pasadas,
                    esperando ser desenterrados y revividos? Bienvenidos a nuestras incomparables expediciones a barcos
                    hundidos,
                    donde la realidad supera cualquier fantasía. ¡Imagina explorar los confines del mar, descubriendo
                    reliquias
                    olvidadas que narran historias perdidas en las mareas del tiempo! Nosotros, los maestros de la
                    exploración
                    submarina, desafiamos lo desconocido con destreza y valentía. Cada inmersión es un baile con lo
                    inesperado,
                    cada descubrimiento una proeza gloriosa. ¡Únete a nosotros y haz historia junto a los mejores!</p>
            </div>
        </div>
        <div class="d-flex m-5" style="background-color: white;">
            <div class="card-body p-5">
                <h4 class="card-title mb-3">Explorando las Profundidades: Expediciones Submarinas a Aviones Hundidos
                </h4>
                <p class="card-text">¿Has imaginado alguna vez la emoción de sumergirte en las profundidades del océano,
                    rodeado de misterios y secretos, para explorar los restos de aviones hundidos? Nuestras expediciones
                    de buceo son la encarnación de la aventura y la maravilla. Sumérgete con nosotros y descubre un
                    mundo
                    submarino repleto de asombro y fascinación. Desde la majestuosidad de los aviones abandonados hasta
                    los detalles meticulosos de su deterioro, cada inmersión es una experiencia única e inolvidable.
                    Únete a nosotros y déjate llevar por la grandeza de nuestras expediciones, donde lo extraordinario
                    se convierte en nuestro hábitat natural.</p>
            </div>
            <div id="expedicion_avion" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-bs-target="#expedicion_avion" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#expedicion_avion" data-bs-slide-to="1"></li>
                    <li data-bs-target="#expedicion_avion" data-bs-slide-to="2"></li>
                </ol>
                <!-- diapositivas -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/img/expedicion_avion1.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/expedicion_avion2.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/expedicion_avion3.jpg">
                    </div>
                </div>
                <!-- botones de desplazamiento a izquierda y derecha -->
                <a class="carousel-control-prev" href="#expedicion_avion" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#expedicion_avion" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <div class="d-flex m-5" style="background-color: white;">
            <div id="expedicion_tiburon" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-bs-target="#expedicion_tiburon" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#expedicion_tiburon" data-bs-slide-to="1"></li>
                    <li data-bs-target="#expedicion_tiburon" data-bs-slide-to="2"></li>
                </ol>
                <!-- diapositivas -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/img/buceo9.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/expedicion_tiburon2.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/expedicion_tiburon3.jpg">
                    </div>
                </div>
                <!-- botones de desplazamiento a izquierda y derecha -->
                <a class="carousel-control-prev" href="#expedicion_tiburon" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#expedicion_tiburon" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
            <div class="card-body p-5">
                <h4 class="card-title mb-3">Sumérgete en la Aventura: Nadando entre Tiburones</h4>
                <p class="card-text">
                    ¿Alguna vez te has imaginado sumergirte en las profundidades del océano, rodeado de majestuosos
                    tiburones, en una de nuestras famosas expediciones de buceo? Imagina la emoción palpitante mientras
                    te deslizas entre estos gigantes marinos, testigos de su gracia y poderío. Cada momento es una
                    sinfonía de asombro, cada aleteo una danza en el azul infinito. En nuestras expediciones, la
                    seguridad
                    es primordial, permitiéndote explorar sin preocupaciones. Nuestros expertos guías te llevan a través
                    de un mundo submarino lleno de maravillas, dejando en alto nuestro legado de excelencia. Únete a
                    nosotros y descubre la magia de nadar con tiburones.</p>
            </div>
        </div>
        <div class="d-flex m-5" style="background-color: white;">
            <div class="card-body p-5">
                <h4 class="card-title mb-3">Sumérgete en la Maravilla: Expediciones de Buceo a los Arrecifes de Coral
                </h4>
                <p class="card-text">¡Respira hondo y sumérgete en la aventura! Nuestras expediciones de buceo a
                    los arrecifes de coral te transportan a un mundo de maravillas subacuáticas. Imagina explorar
                    profundidades donde la vida marina danza en un despliegue de colores y formas. Desde los vibrantes
                    corales hasta las elegantes tortugas, cada inmersión es una experiencia inolvidable. Con guías
                    expertos que conocen cada recodo del océano, te garantizamos una seguridad impecable y un viaje
                    lleno de descubrimientos. Únete a nosotros y descubre por qué nuestros exploradores vuelven
                    maravillados, ¡porque somos los maestros de la aventura submarina!</p>
            </div>
            <div id="expedicion_coral" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-bs-target="#expedicion_coral" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#expedicion_coral" data-bs-slide-to="1"></li>
                    <li data-bs-target="#expedicion_coral" data-bs-slide-to="2"></li>
                </ol>
                <!-- diapositivas -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/img/expedicion_coral3.jpeg">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/buceo1.jpg">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/expedicion_coral2.jpeg">
                    </div>
                </div>
                <!-- botones de desplazamiento a izquierda y derecha -->
                <a class="carousel-control-prev" href="#expedicion_coral" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#expedicion_coral" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="contact-now">
    <a [routerLink]="['/contact']" class="btn btn-info btn-contact-now">Contacta con nosotros</a>
</div>

<app-footer />