<div>
    <div class="productCart-wrapper">
        <ng-container *ngIf="(myCart | async) as cartItems">
            <ng-container *ngIf="cartItems.length > 0; else noItems">
                <article class="productCart" *ngFor="let cart of cartItems;">
                    <div class="d-flex align-items-center justify-content-between" style="width: 100%;">
                        <img [src]="cart.product.image">
                        <div>
                            <p><strong><u>{{ cart.product.name }}</u></strong></p>
                            <p style="font-size: 12px;">{{ cart.product.price }} €/Uds</p>
                            <p>Total: {{ totalProduct(cart.product.price, cart.amount) }}€</p>
                        </div>
                        <div class="productCart-buttons-operators">
                            <i class="fa-solid fa-minus btn"
                                (click)="updateUnits('minus', cart.amount, cart.product)"></i>
                            <span>{{ cart.amount }}</span>
                            <i class="fa-solid fa-plus btn" (click)="updateUnits('add', cart.amount, cart.product)"></i>
                            <i class="fa-solid fa-trash btn" (click)="deleteProductFromCart(cart.product.id)"></i>
                        </div>
                    </div>
                </article>
                <div class="cartTotal d-flex justify-content-between">
                    <p class="cartTotal-total">Total a pagar: {{ (cartTotal | async)?.toFixed(2) + '€' }}</p>
                    <button class="btn btn-danger" (click)="deleteAllProductsFromCart()">Borrar carrito</button>
                </div>
                <button class="cart-btn" (click)="details()">Resumen del pedido</button>
            </ng-container>
        </ng-container>

        <ng-template #noItems>
            <p class="productCart-body">No hay productos en el carrito</p>
        </ng-template>
    </div>
</div>