<!-- Están el carrito y el navbar-collapse escondido esperando a que se active el canvas -->
<app-carrito-dynamic />
<app-navbar-collapse />

<nav class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbar-collapse">
        <i class="fas fa-bars text-light"></i>
    </button>

    <a class="navbar-brand" [routerLink]="['/home']">DIVEHUB <img src="../../assets/img/buzo-01.png" height="60"></a>

    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav align-items-center">
            <!-- Init -->
            <li class="nav-item mx-3">
                <a class="nav-link btn" [routerLink]="['/home']">Inicio</a>
            </li> 

            <!-- Galery -->
            <li class="nav-item mx-3">
                <a class="nav-link btn" [routerLink]="['/galery']">Galería de expediciones</a>
            </li>

            <!-- Shop -->
            <li class="nav-item mx-3">
                <a class="nav-link btn" [routerLink]="['/shop']">Tienda</a>
            </li>

            <!-- Contact -->
            <li class="nav-item mx-3">
                <a class="nav-link btn" [routerLink]="['/contact']">Contacto</a>
            </li>

            <div class="d-flex align-items-center">
                <!-- User -->
                <li class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown1"
                        data-bs-toggle="dropdown">
                        Hola, {{user.nickname}}
                    </button>
                    <div class="dropdown-menu">
                        <div class="dropdown-header">Panel de control</div>
                        <a class="dropdown-item btn p-3" [routerLink]="['/profile']">Ver Perfil</a>
                        <a class="dropdown-item btn p-3 mt-2" [routerLink]="['/my-orders']">Mis pedidos</a>
                        <a class="dropdown-item btn p-3 mt-2" [routerLink]="['/contact-area']">Mis mensajes</a>
                        <a class="dropdown-item btn p-3 mt-2" [routerLink]="['/my-assessments']">Mis valoraciones</a>
                        <a class="dropdown-item btn p-3 mt-2" *ngIf="isAdmin" [routerLink]="['/admin_area']">ADMIN</a>
                        <a class="dropdown-item btn b1 p-3 mt-2" (click)="logOut()">
                            Cerrar Sesión<i class="fas fa-power-off m-2"></i>
                        </a>
                    </div>
                </li>

                <!-- WishList -->
                <li class="nav-item" style="margin-left: 20px; margin-right: 10px;">
                    <a class="nav-link" [routerLink]="['/like']"><i class="fas fa-heart pe-2"></i></a>
                </li>

                <!-- Cart -->
                <li class="navbar-cart" data-bs-toggle="offcanvas" data-bs-target="#cart">
                    <div class="navbar-cart-items">
                        <p>{{ productsInCart }}</p>
                    </div>
                    <a class="nav-link btn">
                        <img class="cart-icon" src="../../assets/img/carrito.png">
                    </a>
                </li>
            </div>
        </ul>
    </div>
</nav>