.articles {
    background-color: white;
    box-shadow: 0px 0px 100px -50px gray;
    border-radius: 10px;
}

.square {
    background-color: #f6f6f6;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.product-info p {
    margin-bottom: 5px;
}

.btn-warning {
    margin-top: 20px;
}

img {
    object-fit: contain;
    width: 100%;
}

button {
    width: 100%;
}

.ratings {
    font-size: 16px;
    color: #ffa500;
}

.date{
    font-size: 12px;
    color: #444444;
}

.rating-stars {
  font-size: 24px;
  color: #ccc;
  display: inline-block;
}

.star.filled {
  color: #ffa500;  
}

.star{
    color: #ccc;
}

.rate{
    color: #585858;
}

span{
    color: black;
}

.rating-value {
    margin-left: 10px;
    font-weight: bold;
}

.rating-count {
    margin-left: 10px;
    color: #888;
}

.valor{
    text-decoration: blue;
    border-bottom: 1px solid blue;
    cursor: pointer;
}

hr{
    border: 2px solid black;
}

.price{
    font-size: 30px;
    position: relative;
}

.decimal{
    font-size: 14px;
    position: absolute;
    margin-top: 8px;
    margin-left: 3px;
}

.form-select{
    width: 30%;
}

.contact-now .btn-contact-now {
    position: fixed;
    bottom: 3rem;
    right: 1.625rem;
    box-shadow: 0 1px 20px 1px #1d4aff
}

.contact-now .btn-contact-now:hover {
    box-shadow: none
}

@media only screen and (min-width: 1001px) {
    .date{
        font-size: 10px;
    }
    .form-select{
        width: 60%;
    }
}


@media only screen and (max-width: 1000px) {
    .date{
        font-size: 10px;
        margin-right: -50px;
        padding-right: 10px;
    }
    .form-select{
        width: 100%;
    }
}