<div class="container p-4">
    <div class="container text-center mt-5">
      <h1 class="display-4 text-primary">Entrar a Erosketa</h1>
      <p class="lead">Bienvenido a Erosketa, la mejor plataforma para comprar online</p>
      <div class="arrow-icons gap-5">
        <i class="fas fa-arrow-right fa-3x mt-3 text-muted rotate-minus-45"></i>
        <button (click)="goIn()" class="btn btn-primary mt-3 btn-lg">Entrar</button>
        <i class="fas fa-arrow-left fa-3x mt-3 text-muted rotate-minus-45"></i>
      </div>
    </div>
  </div>
  