<div class="offcanvas offcanvas-end" id="cart">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Carrito</h5>
        <button class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body mt-5">
        <ng-container *ngIf="myCart">
            <ng-container *ngIf="myCart.length > 0">
                <article class="productCart" *ngFor="let cart of myCart;">
                    <div class="article-content">
                        <img [src]="cart.product.image">
                        <div>
                            <p><strong><u>{{ cart.product.name }}</u></strong></p>
                            <p style="font-size: 12px;">{{ cart.product.starting_price }} €/Uds</p>
                            <input class="me-3" disabled [value]="'Total: ' + totalProduct(cart.product.starting_price, cart.quantity) + ' €'">
                            <div class="mt-2">
                                <i class="fa-solid fa-minus btn pe-2" *ngIf="!isActivity(cart.product)" (click)="updateUnits('minus', cart.quantity, cart.product)"></i>
                                <span *ngIf="!isActivity(cart.product)">{{ cart.quantity }}</span>
                                <i class="fa-solid fa-plus btn me-3 px-2" *ngIf="!isActivity(cart.product)" (click)="updateUnits('add', cart.quantity, cart.product)"></i>
                                <i class="fa-solid fa-trash btn p-0" (click)="deleteProductFromCart(cart.product.id)"></i>
                            </div>
                        </div>
                    </div>                    
                </article>
                <div class="cartTotal d-flex justify-content-between">
                    <p class="cartTotal-total">Total a pagar: {{ cartTotal + '€' }}</p>
                    <button class="btn btn-danger" (click)="deleteAllProductsFromCart()">Vaciar carrito</button>
                </div>
                <button class="cart-btn" data-bs-dismiss="offcanvas" (click)="details()">Resumen del pedido</button>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="!myCart">
            <p class="productCart-body mt-5 p-3">No hay productos en el carrito</p>
            <button class="cart-btn" data-bs-dismiss="offcanvas" (click)="goShop()">Ir a la Tienda</button>
        </ng-container>
    </div>
</div>