<p class="text-center text-dark bg-info m-0">EROSKETA</p>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="d-flex justify-content-between align-items-center w-100">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item">
                <a [routerLink]="['/all-categories']" class="nav-link btn" style="margin-left: 20px;">
                    <img class="rounded" src="../../assets/img/erosketa.jpg">
                </a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/all-categories']" class="nav-link btn" style="margin-left: 20px;">TIENDA</a>
            </li>
            <li class="nav-item" *ngIf="isAdmin()">
                <a [routerLink]="['/save-category']" class="nav-link btn" style="margin-left: 30px;">Añadir Categoría (ADMIN)</a>
            </li> 
        </ul>
        <ul class="navbar-nav text-right">
            <li class="nav-item dropdown">
                <a class="nav-link btn btn-cart login dropdown-toggle">
                    <img class="cart-icon" src="../../assets/img/perfil.png">
                    <span>{{ user.firstname }}</span>
                </a>
                <div class="dropdown-menu p-2">
                    <a class="dropdown-item btn p-2" [routerLink]="['/profile']">Ver Perfil</a>
                    <a class="dropdown-item btn b1 p-2 mt-2" (click)="logOut()">Cerrar Sesión
                        <i class="fas fa-power-off m-2"></i></a>
                </div>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/wishes-list']" class="nav-link btn">
                    <img src="../../assets/img/like2.png">Lista de deseos
                </a>
            </li>
            <li class="navbar-cart" style="margin-left: 40px;" (click)="showCart()">
                <div class="navbar-cart-items" *ngIf="productsInCart">
                    <p>{{ productsInCart }}</p>
                </div>
                <a class="nav-link btn btn-cart">
                    <img class="cart-icon" src="../../assets/img/carrito.png">
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="cart" [ngClass]="{ show: viewCart }">
    <app-carrito-dynamic />
</div>